<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form method="GET" action="/newteam">
     <p>Team Name: <input type="text" name="name"></p>
     <p>Coach: <input type="text" ></p>
     <input>
     <input>
     <input>
     <input>
     <input>
     <input>
   </form>
 </body>
</html>


